public-hoist-pattern[]=*sharp*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*@biomejs/biome*
public-hoist-pattern[]=*@tailwindcss/oxide*
enable-pre-post-scripts=true
auto-install-peers=true
strict-peer-dependencies=false